{{ define "main" }}
<section class="s-content">

    <div class="row">
        <div class="column large-12">

            <article class="s-content__entry">

                <!-- Post Media -->
                <div class="s-content__media">
                    <div class="s-content__post-thumb">
                        <img src="{{ .Params.featured_image }}" 
                             srcset="{{ .Params.featured_image_srcset }}" 
                             sizes="(max-width: 2100px) 100vw, 2100px" 
                             alt="{{ .Params.featured_image_alt }}">
                    </div>
                </div>

                <!-- Post Header -->
                <div class="s-content__entry-header">
                    <h1 class="s-content__title s-content__title--post">{{ .Title }}</h1>
                </div>

                <!-- Post Content -->
                <div class="s-content__primary">
                    <div class="s-content__entry-content">
                        [Default]
                        {{ .Content }}

                    </div>

                </div>

            </article>

        </div>
    </div>

</section>
{{ end }}