{{ define "main" }}
<section class="s-content">

    <div class="row">
        <div class="column large-12">

            <article class="s-content__entry format-standard">

                <!-- Post Media -->
                <div class="s-content__media">
                    <div class="s-content__post-thumb">
                        <img src="{{ .Params.featured_image }}" 
                             srcset="{{ .Params.featured_image_srcset }}" 
                             sizes="(max-width: 2100px) 100vw, 2100px" 
                             alt="{{ .Params.featured_image_alt }}">
                    </div>
                </div>

                <!-- Post Header -->
                <div class="s-content__entry-header">
                    <h1 class="s-content__title s-content__title--post">{{ .Title }}</h1>
                </div>

                <!-- Post Content -->
                <div class="s-content__primary">
                    <div class="s-content__entry-content">
                        {{ .Content }}

                    </div>

                    <!-- Post Meta -->
                    <div class="s-content__entry-meta">

                        <!-- Author Meta -->
                        <div class="entry-author meta-blk">
                            <div class="author-avatar">
                                <img class="avatar" src="{{ .Params.author_avatar }}" alt="{{ .Params.author_name }}">
                            </div>
                            <div class="byline">
                                <span class="bytext">Posted By</span>
                                <a href="{{ .Params.author_url }}">{{ .Params.author_name }}</a>
                            </div>
                        </div>

                        <!-- Category and Tags -->
                        <div class="meta-bottom">
                            <div class="entry-cat-links meta-blk">
                                <div class="cat-links">
                                    <span>In</span> 
                                    {{ range .Params.categories }}
                                    <a href="/categories/{{ . | urlize }}">{{ . }}</a>
                                    {{ end }}
                                </div>
                                <span>On</span> {{ .Date.Format "Jan 2, 2006" }}
                            </div>

                            <div class="entry-tags meta-blk">
                                <span class="tagtext">Tags</span>
                                {{ range .Params.tags }}
                                <a href="/tags/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            </div>
                        </div>

                    </div>

                    <!-- Pagination -->
                    <div class="s-content__pagenav">
                        <div class="prev-nav">
                            {{ if .Prev }}
                            <a href="{{ .Prev.Permalink }}" rel="prev">
                                <span>Previous</span>
                                {{ .Prev.Title }}
                            </a>
                            {{ end }}
                        </div>
                        <div class="next-nav">
                            {{ if .Next }}
                            <a href="{{ .Next.Permalink }}" rel="next">
                                <span>Next</span>
                                {{ .Next.Title }}
                            </a>
                            {{ end }}
                        </div>
                    </div>

                </div>

            </article>

        </div>
    </div>

</section>
{{ end }}