{{ if eq .RelPermalink "/" }}
<header class="s-header">
{{ else }}
<header class="s-header s-header--opaque">
{{ end }}
    <!-- Logo -->
    <div class="s-header__logo">
        <a class="logo" href="{{ "/" | relURL }}">
            <img src="{{ "images/logo.svg" | relURL }}" alt="Homepage">
        </a>
    </div>

    <!-- Navigation -->

    <div class="row s-header__navigation">
        <nav class="s-header__nav-wrap">
            <ul class="s-header__nav">
                {{ range site.Menus.main }}
                    {{ if eq .Name "Categories" }}
                    <li class="has-children">
                        <a href="{{ .URL }}" title="">{{ .Name }}</a>
                        <ul class="sub-menu">
                            {{ range site.Taxonomies.categories }}
                            <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ else if .HasChildren }}
                    <li class="has-children">
                        <a href="{{ .URL | relURL }}" title="">{{ .Name }}</a>
                        <ul class="sub-menu">
                            {{ range .Children }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ else }}
                    <li class="{{ if eq .URL .Page.RelPermalink }} current {{ end }}"><a href="{{ .URL }}" title="">{{ .Name }}</a></li>
                    {{ end }}

                {{ end }}
            </ul> <!-- end s-header__nav -->
            <a href="#" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>
        </nav> <!-- end s-header__nav-wrap -->
    </div> <!-- end s-header__navigation -->

    <!-- Mobile Menu Toggle -->
    <a class="s-header__toggle-menu" href="#" title="Menu"><span>Menu</span></a>

    <!-- Search -->
    <div class="s-header__search">
        <div class="s-header__search-inner">
            <div class="row wide">
                <form role="search" method="get" class="s-header__search-form" action="{{ "/" | relURL }}">
                    <label>
                        <span class="h-screen-reader-text">Search for:</span>
                        <input type="search" class="s-header__search-field" placeholder="Search for..." value="" name="s"
                            title="Search for:" autocomplete="off">
                    </label>
                    <input type="submit" class="s-header__search-submit" value="Search">
                </form>
                <a href="#" title="Close Search" class="s-header__overlay-close">Close</a>
            </div> <!-- end row -->
        </div> <!-- s-header__search-inner -->
    </div> <!-- end s-header__search -->

    <!-- Search Trigger -->
    <a class="s-header__search-trigger" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.982 17.983">
            <path fill="#010101"
                d="M12.622 13.611l-.209.163A7.607 7.607 0 017.7 15.399C3.454 15.399 0 11.945 0 7.7 0 3.454 3.454 0 7.7 0c4.245 0 7.699 3.454 7.699 7.7a7.613 7.613 0 01-1.626 4.714l-.163.209 4.372 4.371-.989.989-4.371-4.372zM7.7 1.399a6.307 6.307 0 00-6.3 6.3A6.307 6.307 0 007.7 14c3.473 0 6.3-2.827 6.3-6.3a6.308 6.308 0 00-6.3-6.301z" />
        </svg>
    </a>
</header>